*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    font-size: 17px;
    line-height: 22px;
    color: #595959;
    background-color: #fff;
}
.container{
    display: grid;
    grid-template-areas:
    "sp-l header header sp-r"
    "sp-l men men sp-r"
    "sp-l aside main sp-r"
    "footer footer footer footer";
    grid-template-rows: 82px 60px 1fr 250px;
    grid-template-columns: 1fr 295px 885px 1fr;
    grid-gap: 10px;
    margin: 0 0;
}
header{
    grid-area: header;
    margin: 0px 0px;
    padding: 0px 0px;
}
menu{
    grid-area: men;
    background-color: #2c3c87;
    margin: 0px 0px;
    padding: 0px 0px;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
    /* height: 100vh; */
}
footer{
    grid-area: footer;
    background-color: #000;
}
.spacer_right{
    grid-area: sp-r;
}
.spacer_left{
    grid-area: sp-l;
}
.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
.top-menu__item{}
.top-menu__item:hover{
    background-color: #1a71b8;
}
.top-menu__link{
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding: 19px 20px;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.logo{
    width: 127px;
    background-image:url('./img/sibtime.png') ;
    background: no-repeat;
}
.button{
    border: 2px solid #1f74ba;
    border-radius: 20px;
    padding: 8px 15px 12px;
}
.sub-menu{
    position: relative;
    padding: 0 10px;
}
.sub-menu__ul{
    display: block;    
    background-color: #1a71b8;
    width: 235px;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 50;
    padding: 10px 20px;
    visibility: visible;
    display: none;
    margin: 0 0;
}
.sub-menu__li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}
.top-menu__item:hover .sub-menu__ul{
    display: block;
}
.bread-crumbs{
    display: flex;
    flex-direction: row;
}
.bread-crumbs__ul{
    display: inline;
    padding: 0 0;
    margin: 0px 0px;
}
.bread-crumbs__li{
    list-style: none;
    font-size: 13px;
    color: #939393;
    display: inline;
}
.bread-crumbs li:after{
    content: '-';
    display: inline;
}
.bread-crumbs a {
    color: #939393;
}
.aside-nav{
    padding: 0;
    margin: 0;
    background-color: #e8eff5;
    padding: 10px 0;;
}
.aside-nav__li{
    list-style: none;
    display: block;
    padding: 8px 30px 8px 50px;
    font-size: 16px;
    color: #444d54;
}
.aside-nav>li{
    margin: 0;
    position: relative;
}
.ico{
    width: 40px;
    position: absolute;
    left: 20px;
    top: 6px;
}
.ico img{
    vertical-align: middle;
}
.heading-title{
    margin-top: 35px;
}
h1{
    font-size: 34px;
    line-height: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
}
.row_border{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d2e3f2;
    padding: 10px 0;
    margin: 14px 0;
}
.row_sort{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}
.horizontal{
    margin: 0 0;
}
.horizontal__li{
    list-style: none;
    display: inline;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__image{
    background-image: url('img/R27012105.jpg');
    background-repeat: no-repeat;
    height: 170px;
    width: 192px;
}
.card__name{
    color: #344293;
    font-size: 20px;
    text-transform: uppercase;
}
.sort{
    font-size: 14px;
    margin-right: 10px;
}
.select_wrap{
    border: solid 1px #a1bbd4;
    box-sizing: border-box;
    height: 30px;
}
.select{
    font-size: 13px;
    padding: 9px 25px 9px 9px;
    position: relative;
}
.select::before{
    content: '';
    background-image: url('img/sprite.png');
    background-position-x: -188px;
    background-position-y: -48px;
    background-repeat: no-repeat;
    width: 10px;
    height: 7px;
}
.select::after{
    content: '';
    background-image: url('img/sprite.png');
    background-position-x: -188px;
    background-position-y: -48px;
    background-repeat: no-repeat;
    width: 10px;
    height: 7px;
    display: block;
    position: absolute;
    top: 50%;
    right: 9px;
}

.nav-footer{
    list-style: none;
    display: block;
    margin: 0 0;
    padding: 0 0;
}
.nav-footer__item{
    font-size: 14px;
    line-height: 15px;
    color:#fff;
    margin-bottom: 9px;
}
.nav-footer__link{
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    color: #a8a8a8;
}
.nav-footer a:hover {
    color:#7ac5ff;
}
.button_small{
    text-align: center;
    text-decoration: none;
    width: 150px;
    min-width: auto;
    padding: 0;
    height: 33px;
    line-height: 27px;
    border: 2px solid #344293;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;    
}

/* tipography */
.text_type_h3{
    font-size: 17px;
    color:#fff;
    line-height: 20px;
}
.text_type_p{
    color:#a8a8a8;
    font-size: 14px;
    line-height: 20px;
}
.text_type_h4{
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
}


.space_bottom_s{
    margin-bottom: 23px;
}
.space_bottom_xs{
    margin-bottom: 13px;
}
.space_top_m{
    margin-top: 31px;
}
.space_top_s{
    margin-top: 21px;
}

